<div class="container">
  <h1>STUPID COACHING</h1>

  <div class="dialogbox">
    <%= @question %>
    <p> - You </p>
  </div>

  <div class="dialogbox">
    <div class="answerbox">
      <%= @answer %>
      <p> -Your coach </p>
    </div>
  </div>
</div>
